@{
    ViewBag.Title = "About";
}


<div class="container" ng-controller="trainingLogController as tlc">
    <div class="row">
        
        @* LEFT HALF OF PAGE *@
        <div class="panel panel-default col-md-6">
            <form>
                
                @*for your viewing pleasure*@
                <pre>User input as stored in tlc.model: {{tlc.model | json}}</pre>

                @* Input Training Max for Squat *@
                <div class="form-group">
                    <label for="squats">Training max for squat:</label>
                    <input type="number" ng-model="tlc.model.SquatMax" class="form-control" id="inputSquatMax" placeholder="" value ="225">
                </div>

                @* Input Training Max for Bench *@
                <div class="form-group">
                    <label for="bench">Training max for bench:</label>
                    <input type="number" ng-model="tlc.model.BenchMax" class="form-control" id="inputBenchMax" placeholder="">
                </div>

                @* Input Training Max for Deadlift *@
                <div class="form-group">
                    <label for="deadlift">Training max for deadlift:</label>
                    <input type="number" ng-model="tlc.model.DeadliftMax" class="form-control" id="inputDeadliftMax" placeholder="">
                </div>

                @*Dropdown for week of training cycle*@
                <div class="form-group">
                    <label>Select week of training cycle:</label>
                    <select type="number" class="form-control" ng-model="tlc.model.Week" ng-options="week for week in tlc.arrayWeeks"></select>
                </div>

                @* Submit button *@
                <button type="submit" class="btn btn-primary" ng-click="tlc.submit()">Submit to Training Log</button><p></p>
                
                @* Get by week # button *@
                <button type="submit" class="btn btn-primary" ng-click="tlc.getByWeek()">Get By Week #</button><p></p>

                @* Edit button *@
                <button type="submit" class="btn btn-primary" ng-click="tlc.edit()">Edit</button><p></p>
                                
                @* Delete button *@
                <button type="submit" class="btn btn-primary" ng-click="tlc.deleteTrainingLogByWeek()">Delete</button>
            </form>
        </div>

        @* RIGHT HALF OF PAGE -- PROGRAM *@
        <div class="panel panel-default col-md-6" ng-show="tlc.showNewRightDiv">
            <form>
                <br class="Apple-interchange-newline">
                <br class="Apple-interchange-newline">
                <div class="form-group">
                    <h5><em><strong>Lower: </strong></em></h5>
                    <span>10 minutes on stationary bike</span><br/>
                    <span>6 sets of {{tlc.squatProgram}}</span><br/>
                </div>
                
                <div class="form-group">
                    <h5><em><strong>Upper: </strong></em></h5>
                    <span>30 minutes on treadmill</span><br/>
                    <span>6 sets of {{tlc.benchProgram}}</span><br/>
                </div>
                
                <div class="form-group">
                    <h5><em><strong>Deadlift: </strong></em></h5><br/>
                    <span>15 minutes of intervals on stairmill</span><br/>
                    <span>6 sets of {{tlc.deadliftProgram}}</span><br/>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/Controllers/TrainingLogController.js"></script>
    <script src="~/Services/TrainingLogService.js"></script>
}